.itemNoC {
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  display: flex;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000000;
}

.mtext {
  padding: 3px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 5px;
}



.profile {
  max-width: 100%;
  max-height: 300px;
  margin-bottom: 10px;
}
.spacing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mtext {
  padding: 3px;
}
.popup-content {
  margin: auto;
  background: #93bbed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 5px;
}
.pop {
  display: flex;
  border: 10px solid black;
}

.popup-arrow {
  color: rgb(255, 255, 255);
}
[role="tooltip"].popup-content {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.butt {
  margin: 10px;
}
